h1 span{
   color: #800000; 
}

h1{
    text-align: center;
}

#myAccount{
    position: absolute;
    top: 0px;
    right: 0px;
}

button{
    position: absolute;
    right: 0px;
    background-color: #800000;
    border-color: #800000;
    width: 100px;
    color: white;
    height: 20px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

#recentPostDiv{
    background-color: #800000;
}

#recentPostDiv p{
    color: white;
}

#bigContainer{
    width: 50%;
    margin: auto;
    position: initial;
}
