@font-face {
    font-family: "BebasNeue", sans-serif;
    src: url(../BebasNeue.otf);
}

* {
    font-family: "BebasNeue", sans-serif;
}
#myAccount{
    position: absolute;
    top: 0px;
    right: 0px;
}

#logo {
    display: block;
    width: 120px;  
    margin-left: auto;
    margin-right: auto;     
}

h1 span {
    color :maroon;
}

table{
    text-align: center;
    border: 3px solid #800000;
    position: relative;
    left: 110px;
    top: 100px;
}

table button{
    width: 200px;
    height: 50px;
    color:white;
    background-color: #800000;
    border: 1px solid #800000;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
}


#largeContainer{
    width:1600px;
    display: inline-block;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
}

#middle {    
    /*float: middle;*/
    text-align: center;
    width: 600px;  
    font-family: "BebasNeue", sans-serif;
    margin-left: auto;
    margin-right: auto;     
}

#middle input[type=text]{
    width : auto;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;

}

#middle select{
    width : 109px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

#middle input[type=submit]{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
    background-color: #800000;
    color: white;
    border: 2px solid #800000;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
}


#recent {
    float: left;
    width: 375px;  
    font-size: 12px;
    text-align: center;
    border: 3px solid #800000;
    position: relative;
    top: 60px;
}

p {
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 0px; 
    float: left;
    overflow: auto;
}

.firstWord{
    font-weight: bold;
}



#recent div {
    border: 2px solid  black;
    text-align: center;
    overflow: auto;
    /*margin-bottom: 4px;*/   
    /*height: 110px;*/
    /*width: 300px;*/
}

#posts{
    display: block;
}

#posts div{
    border: 2px solid black;
    text-align: center;
    display: block;
    width: 33%;
    overflow: scroll;
    margin-left: 33%;
    margin-right: 33%;
    height: 200px;
}

#name {
    text-align: center;
    display: block;
    margin-left: 33%;
    margin-right: 33%;
}

#posts div span{
    float: right;
    width: 40%;
}

#middle{
    background-color: grey;
    text-align: center;
    height: 40px;

}

#announcements{
    float: right;
    width: 375px;
    font-size: 12px;
    text-align: center;
    border: 3px solid #800000;
    position: relative;
    top: 60px;
}

#announcements div {
    border: 2px solid  black;
    text-align: center;
    overflow: auto;
    /*margin-bottom: 4px;*/   
    /*height: 110px;*/
    /*width: 300px;*/
}

img{
    max-width: 60%;
    /*padding: 5px 5px 5px 5px;*/
    height: auto;
    width: auto;
    float: left;
}

.divs{
    float: left;
}

select{
    background-color: #800000;
    border: 2px solid #800000;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

input[type=text], select, #makePost{
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
         height: 30px;
         align-items: baseline;
    margin-top: 5px;
}
